Source: vnlog
Priority: optional
Section: devel
Build-Depends: debhelper (>= 9),
 dh-python,
 python-all,
 libipc-run-perl,
 libtext-diff-perl,
 libstring-shellquote-perl,
 liblist-moreutils-perl,
 mawk,
 make,
 chrpath
Maintainer: Dima Kogan <dima@secretsauce.net>
Standards-Version: 3.9.8
Homepage: https://github.com/dkogan/vnlog/
Vcs-Git: git@github.com:dkogan/vnlog.git
Vcs-Browser: https://github.com/dkogan/vnlog/

Package: libvnlog0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${perl:Depends}, ${python:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Tools to manipulate whitespace-separated ASCII logs
 Vnlog (pronounced "vanillog") is a trivially-simple log format consisting of an
 ASCII table with comments and labelled fields. This package provides a C
 library that simplifies generating such logs, simple python and perl libraries
 to parse such logs, and some supporting stuff to make the vnl-xxx tools work.

Package: libvnlog-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, libvnlog0 (= ${binary:Version}),
 libstring-shellquote-perl
Description: Tools to manipulate whitespace-separated ASCII logs
 Vnlog (pronounced "vanillog") is a trivially-simple log format consisting of an
 ASCII table with comments and labelled fields. This package provides a C
 library that simplifies generating such logs. Dev files.

Package: vnlog
Section: libdevel
Architecture: all
Depends: ${misc:Depends},
 libvnlog0 (= ${binary:Version}),
 mawk,
 libtext-table-perl,
 liblist-moreutils-perl
Description: Tools to manipulate whitespace-separated ASCII logs
 Vnlog (pronounced "vanillog") is a trivially-simple log format consisting of an
 ASCII table with comments and labelled fields. This package provides tools to
 process and manipulate such logs. The tools are:
 .
 vnl-filter selects a subset of the rows/columns in a vnlog and/or to
 manipulates the contents. This is effectively an awk wrapper.
 .
 vnl-sort, vnl-join and vnl-tail are wrappers around the corresponding GNU
 Coreutils tools
 .
 vnl-align aligns vnlog columns for easy interpretation by humans
 .
 vnl-make-matrix converts a one-point-per-line vnlog to a matrix of data
