Source: vnlog
Priority: optional
Section: devel
Build-Depends: debhelper (>= 9),
 libipc-run-perl,
 libtext-diff-perl,
 libstring-shellquote-perl,
 liblist-moreutils-perl,
 mawk
Maintainer: Dima Kogan <dima@secretsauce.net>
Standards-Version: 3.9.8
Homepage: https://github.com/dkogan/vnlog/
Vcs-Git: git@github.com:dkogan/vnlog.git
Vcs-Browser: https://github.com/dkogan/vnlog/

Package: libvnlog0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tools to manipulate whitespace-separated ASCII logs
 We want to manipulate data logged in a very simple whitespace-separated ASCII
 format. The format in compatible with the usual UNIX tools, and thus can be
 processed with a multitude of existing methods. Some convenience tools and
 library interfaces are provided to create new data in this format and
 manipulate existing data

Package: libvnlog-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, libvnlog0 (= ${binary:Version}),
 libstring-shellquote-perl
Description: Tools to manipulate whitespace-separated ASCII logs
 The library needed for the vnlog C interface and the vnl-gen-header
 tool needed to define the fields

Package: vnlog
Section: libdevel
Architecture: all
Depends: ${misc:Depends},
 libvnlog0 (= ${binary:Version}),
 mawk, libtext-table-perl
Description: Tools to manipulate whitespace-separated ASCII logs
 Various helper tools to make working with vnlogs easier
